/*Allgemeiner Teil*/
h1 {
    font-family: "Arial Black";
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
    box-sizing: border-box; /*height und width umfassen padding und border*/
    height: 10px;
}

p {
    clear: left;
}

a:visited {
    color: dodgerblue;
}

figure {
    text-align: center;
}

/*Navigationsmenü*/
#navigation {
    list-style-type: none; /*Entfernt die Bullets*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#navigation li {
    float: left;
}

#navigation .active {
    background-color: dodgerblue;
    color: white;
}

#navigation li a {
    display: block;
    color: black;
    padding: 10px 15px;
    text-decoration: none; /*löscht Unterstricht von Link*/
    text-align: center;
    font-family: Tahoma;
}

#navigation li.right {
    float: right;
}

#navigation li a:hover {
    background-color: lightblue;
}

/*Navigationsmenü Ende*/

/*Mitgliedschaft*/
table {
    border-collapse: collapse; /*Wie wird der Rahmen dargestellt*/
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
}

tr:hover {
    background-color: lightblue;
}

/*Mitgliedschaft Ende*/

/*Präsidium*/
div.presidium {
    float: left;
    width: 205px;
}

img.presidium {
    weight: 66px;
    height: 87px;
}

/*Präsidium Ende*/

/*Startseite*/
/*Banner auf Startseite*/
#banner {
    max-width: 100%;
    height: auto;
}

body {
    padding: 0;
}

body * {
    box-sizing: border-box;
}

#wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: -webkit-row;
    flex-direction: -ms-row;
    flex-direction: row;
    border: none;
}

article {
    flex: 0 0 800px;
    padding: 4px;
}

aside {
    flex: 0 0 250px;
    padding: 4px;
}

img {
    max-width: 100%;
    height: auto;
}