/*Allgemeiner Teil*/
footer {
    text-align: center;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

h1 {
    font-family: Georgia;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    box-sizing: border-box; /*height und width umfassen padding und border*/
    height: 10px;
}

b {
    font-size: large;
}

p {
    clear: left;
}

#events {
    display: none;
}

#events p {
    text-align: center;
}

figure {
    text-align: center;
}

body {
    padding: 0;
}

body * {
    box-sizing: border-box;
}

article {
    flex: 2 2 75%;
    margin-bottom: 10px;
    border-bottom: solid 1px;
}

article figcaption {
    font-size: small;
    text-align: center;
}

aside {
    flex: 0 0 25%;
    padding: 10px;
}

button {
    width: 100%;
    height: 100px;
    font-size: xx-large;
}

img {
    max-width: 80%;
    height: auto;
}

#wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: -webkit-row;
    flex-direction: -ms-row;
    flex-direction: row;
    border: none;
}

/*Navigationsmenü*/
nav ul {
    list-style-type: none; /*Entfernt die Bullets*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

nav li {
    float: left;
}

nav .active {
    background-color: dodgerblue;
    color: white;
}

nav li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none; /*löscht Unterstricht von Link*/
    text-align: center;
    font-family: Verdana;
    color: black;
}

nav li.right {
    float: right;
}

nav li a:hover {
    background-color: lightblue;
}

/*Navigationsmenü Ende*/

/*Mitgliedschaft*/
div.membership {
    float: left;
    width: 25%;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*Mitgliedschaft Ende*/

/*Präsidium*/
div.presidium {
    float: left;
    width: 205px;
}

img.presidium {
    width: 66px;
    height: 87px;
}

/*Präsidium Ende*/

/*Startseite*/
/*Banner auf Startseite*/
#banner {
    max-width: 100%;
    height: auto;
}

h2#event {
    text-align: center;
}

div#events {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 5px 5px gray;
    max-width: 100%;
}

/*Spieler*/
table {
    caption-side: bottom;
    margin: 0px auto;
}

table tbody tr:hover {
    background-color: powderblue;
}

thead {
    background-color: dodgerblue;
}

th {
    padding: 3px;
    font-size: large;
    text-align: center;
}

tbody td {
    border: solid 1px;
    width: 25%
}

td.right {
    text-align: right;
}