@media screen and (max-width: 600px) {
    div {
        float: none
    }
}

div {
    float: left;
    width: 205px;
}

figure {
    text-align: center;
}

p {
    clear: left;
}

h3 {
    text-align: center;
    box-sizing: border-box; /*height und width umfassen padding und border*/
    height: 10px;
}

img {
    weight: 66px;
    height: 87px;
}
