table{
    border-collapse: separate;
}

th, td {
    padding: 8px;
    text-align: center;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

img{
    weight: 66px;
    height: 87px;
}

tr:hover{
    background-color: transparent;
}
