h1{
    text-align: left;
}

div#wrapper{
    flex-direction: column;
}

/*Navigationsmenü*/
nav li, nav li.right {
    float: none;
}

/*Präsidium*/
div.presidium {
    float: none
}

/*Mitgliedschaft*/
div.membership{
    float: none;
    padding-right: 0px;
    width: 100%;
}