#banner {
    max-width: 100%;
    height: auto;
}

img{
    max-width: 100%;
}

aside{
    position: absolute;
    overflow: auto;
    right: 0;
    float: left;
    min-width: 25%;
    border: 1px solid;
}

@media screen and (max-width: 600px) {
    aside {
        float: none;
        position: relative;
    }

}

h2{
    text-align: center;
}